# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/crash.log
terraform/*.tfplan

# Python
.venv/
venv/
app.venv/
__pycache__/
*.pyc

# OS / Editor
.DS_Store
Thumbs.db
.vscode/